[Unit]
Description=Plex Blip Watchdog Service
After=network.target plexmediaserver.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/plex_blip_watchdog.py --log-path "{{ plex_state_dir }}/Library/Application Support/Plex Media Server/Logs/Plex Media Server.log" --output-dir "/var/log/plex_blip_watchdog"
Restart=on-failure
RestartSec=5
Nice=10
CPUSchedulingPolicy=idle

[Install]
WantedBy=multi-user.target
